body{
    margin: 0;
    
}
#nav1{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#logo{
    color:red;
    font-size: 50px;
    font-weight:bold;
    display: inline-block;
    margin-left: 100px;
}
.span1{
    padding: 20px;
    display: inline-block;

#b1{
    background-color:red;
}
  
}
.span2{
    padding: 15px;
    display: inline-block;
}
#manubar1{
    margin-left: 700px;
    display: inline-block;
    padding: 0%;
   
}
    
#manubar2{
    margin: 0px 0px 0px 150px;
    display: inline-block;
    padding: 0%;
}
#banner{
    margin-top: 15px;
    width:100%;
}
#h1{
    font-size:20px;
    font-weight: bolder;
}
#div1{
    display: inline-block;
    background-color: red;
    margin: 0px 0px 0px 0px;
    padding: 0%;
}
#div2{
    display: inline-block;
}
#div3{
    display: inline-block;

    margin: 0px 0px 0px 10px;
    padding: 0%;
}


#img1{
    width:300px;
    align-items: center;
}
