#navbar {
    display: flex;
    width: 100%;
    padding: 14px 20px;
    background: #298998;        
}

#navbar a {
    text-decoration: none;
    color: #f3f4f6;
    font-size: 17px;
    padding: 8px 12px;
    transition: 0.2s ease;
    font-family: "Inter", sans-serif;
}

#navbar a:hover {
    background: #a75517;
}
