nav{
    display: flex;
    justify-content: space-evenly;
    background-color: teal;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;

}