#usercards{
    display: grid;
    grid-template-columns: repeat(3,1fr)
}


#usercards>div{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:5px 1px 1px 10px;
    border-radius: 5px;
    
}
h1{
    color: green;
}
#delete{
    display: inline-block;
    color:white;
    background-color: red;
    border-radius: 4px 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin:5px 5px 5px 5px;
}
#edit{
    display: inline-block;
    color:white;
    background-color: rgb(38, 170, 8);
    border-radius: 4px 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin:5px 5px 5px 5px;
}

#b1create{
    border-radius: 5px;
    background-color: #19df90;
    color: white;
    border: none
}
#b3login{
    border-radius: 5px;
    background-color: #54aae7;
    color: white;
    border: none;
}
#b2resister{
    border-radius: 5px;
    background-color: #70eb38;
    color: white;
    border: none
}
#logout{
    border-radius: 5px;
    background-color: #e04323;
    color: white;
    border: none
}

#navbar{
    display: flex;
    flex-direction: row-reverse;

    background-color: #b7eefb;
    margin: 0px;
    padding:10px 0px 10px 0px;
    border-radius: 5px;
}

nav>button{
    margin:5px 20px 5px 5px;

}