body{
    height: 100vh;
    position: absolute;
    width:100%;
    }
.sun{
    width: 200px;
    height: 200px;
    background:red;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
.mercury{
    --movex:120px;
    width: 20px;
    height: 20px;
    background:gray;
    border-radius: 50%;
    position: absolute; 
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: translate(120x);
    animation: solarsystem 2.5s infinite linear;
}

.Venus{
    --movex:150px;
    width: 30px;
    height: 30px;
    background:yellow;
    border-radius: 50%;
    position: absolute; 
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: translate(150px);
    animation: solarsystem 3s infinite linear;
}
.Earth{
    --movex:250px;
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    position: absolute; 
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    transform: translate(250px);
    animation: solarsystem 4s infinite linear;
}
.jupitor{
    --movex:400px;
    width: 100px;
    height: 100px;
    background:brown;
    border-radius: 50%;
    position: absolute; 
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transform: translate(400px);
    animation: solarsystem 5s infinite linear;
}
.saturn{
    --movex:500px;
    width: 80px;
    height: 80px;
    background:pink;
    border-radius: 50%;
    position: absolute; 
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    transform: translate(500px);
    animation: solarsystem 5.5s infinite linear;
}

@keyframes solarsystem {
    from{transform: rotate(0deg) translate( var(--movex))}
    to{transform: rotate(360deg) translate( var(--movex))}
}