#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
#container>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    margin:10px;
}
#pagination{
    display: flex;
    justify-content: center;
    list-style: none;
}

ul>li{
    margin:5px;
    padding: 2px;
    border: 1px solid gray ;
}
